<section class="grid-container" *ngIf="meals && meals.length > 0">
  <mat-card class="example-card" *ngFor="let meal of allMeals | async">
    <mat-card-header>
      <mat-card-title
        style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden"
        >{{ meal.strMeal }}</mat-card-title
      >
    </mat-card-header>
    <img
      mat-card-image
      src="{{ meal.strMealThumb }}"
      alt="{{ meal.strMeal }}"
    />
    <div class="star-points-container">
      <p>Rating:</p>
      <mat-icon class="stars" *ngFor="let star of getStarsArray(5)">
        star
      </mat-icon>
    </div>
  </mat-card>
</section>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
