<section class="grid-container" *ngIf="meals && meals.length > 0">
  <mat-card class="example-card" *ngFor="let meal of allMeals | async">
    <mat-card-header>
      <mat-card-title class="text-ellipse">{{ meal.strMeal }}</mat-card-title>
    </mat-card-header>
    <img
      (click)="openModalMeals(meal.idMeal)"
      mat-card-image
      src="{{ meal.strMealThumb }}"
      alt="{{ meal.strMeal }}"
    />
    <div class="rating">
      <mat-icon
        *ngFor="let star of stars"
        [ngClass]="{
          'filled-star': star <= rating,
          'empty-star': star > rating
        }"
        (click)="onRatingChange(star)"
      >
        star
      </mat-icon>
    </div>
    <p>Puntuación: {{ rating }}</p>
  </mat-card>
</section>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
