.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 2rem;
  width: 85%;
  margin: auto;
  margin-top: 2rem;
}

.star-points-container {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0 1rem;
}

.stars {
  font-size: 24px;
  cursor: pointer;
}

.stars:hover {
  color: gold;
}

.text-ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 15.5rem;
}

.rating {
  font-size: 24px;
}

.filled-star {
  color: gold;
}

.empty-star {
  color: lightgray;
}
