.mat-toolbar {
  height: 12rem;
  justify-content: space-between;
}

.flex-spacer {
  flex: 1;
}

.sidenav-container {
  margin: 0 !important;
}

.sidenav {
  width: 250px;
  background-color: #3f51b5;
}

.txt-white {
  color: #fff;
  padding: 1rem;
}

.txt-white:hover {
  background-color: #fff;
  color: #3f51b5;
  transition: 1.5ms;
  -webkit-transition: 1.5ms;
  -moz-transition: 1.5ms;
  -ms-transition: 1.5ms;
  -o-transition: 1.5ms;
  cursor: pointer;
  font-weight: bold;
}

.chips {
  display: flex;
  color: #3f51b5;
  background-color: #fff;
  width: 5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  flex-flow: column;
  width: 70%;
}

input#mat-mdc-chip-list-input-0 {
  display: none;
}
