<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="flex-spacer"></span>

  <div class="search-container">
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        type="text"
        placeholder="Buscar"
        [(ngModel)]="searchMealResult"
      />
      <button mat-icon-button matSuffix (click)="searched(searchMealResult)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-chip-grid #chipGrid aria-label="Fruit selection">
      <mat-chip-row *ngFor="let chip of searchMade" (removed)="remove(chip)">
        {{ chip }}
        <button matChipRemove [attr.aria-label]="'remove ' + chip">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
  </div>

  <button mat-flat-button color="primary" (click)="logOut()">
    Logout
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="false" class="sidenav">
    <mat-nav-list>
      <p
        *ngFor="let cat of category"
        (click)="selectedCategory(cat.strCategory)"
        class="txt-white"
      >
        {{ cat.strCategory }}
      </p>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-home-page
      [categorySended]="categorySended"
      [mealSearched]="response"
    ></app-home-page>
  </mat-sidenav-content>
</mat-sidenav-container>
