.mat-toolbar {
  height: 64px;
}

.flex-spacer {
  flex: 1;
}

.sidenav-container {
  margin: 0 !important;
}

.sidenav {
  width: 250px;
  background-color: #3f51b5;
}

.mat-toolbar {
  height: 10rem;
}

.txt-white {
  color: #fff;
  padding: 1rem;
}

.txt-white:hover {
  background-color: #fff;
  color: #3f51b5;
  transition: 1.5ms;
  -webkit-transition: 1.5ms;
  -moz-transition: 1.5ms;
  -ms-transition: 1.5ms;
  -o-transition: 1.5ms;
  cursor: pointer;
  font-weight: bold;
}

.chips {
  display: flex;
  color: #3f51b5;
  background-color: #fff;
  width: 5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  flex-flow: column;
}

/* .inputContainer {
  margin: auto;
  width: 50%;
  display: flex;
}

input[type="text"] {
  border: none;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
  -webkit-border-radius: 0.5rem 0 0 0.5rem;
  -moz-border-radius: 0.5rem 0 0 0.5rem;
  -ms-border-radius: 0.5rem 0 0 0.5rem;
  -o-border-radius: 0.5rem 0 0 0.5rem;
  font-size: 18px;
}

.searchIcon {
  background-color: hsl(0, 0%, 17%);
  padding: 0.9rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.searchIcon:hover {
  cursor: pointer;
} */
