<mat-toolbar color="primary" *ngIf="person.username != undefined">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="flex-spacer"></span>
  <mat-form-field appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput type="text" placeholder="Buscar" />
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="logOut()">
    Logout
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="false" class="sidenav">
    <mat-nav-list>
      <a mat-list-item href="#">Opción 1</a>
      <a mat-list-item href="#">Opción 2</a>
      <a mat-list-item href="#">Opción 3</a>
      <a mat-list-item href="#">Opción 4</a>
      <a mat-list-item href="#">Opción 5</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
