/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
p,
h1 {
  margin: 0;
}

input[type="text"] {
  background-color: #fff;
}

.mat-drawer-content {
  height: 82.5vh !important;
}

app-home-page {
  height: inherit;
  display: flex;
  flex-flow: column;
}
